Binaries/
Intermediate/
Saved/
Content/StarterContent/
Content/InfinityBladeEffects/
Content/WaterPlane/
Content/AnimStarterPack
Content/EngineSky
Content/Mannequin
Content/texturas
Content/Textures
Content/3dsmax
Content/FirstPerson

*.sln
*.sdf
*.opensdf
*.suo
*.db
*.opendb